{% extends "base/desktop.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main7.css') }}" />
<style>
    .intext {
        width: 250px;
        height: 30px;
        border: 2px solid #a6a6a6;
        border-radius: 3px;
        font-size: 14px;
        padding: 0px 5px;
    }

    .intext:focus {
        border: 2px solid #3db2d0;
    }

    .tbltxt {
        font-weight: bold;
        font-size: 13px;
    }

    table td {
        padding-bottom: 16px;
    }

    .btnintxt {
        width: 264px;
        height: 34px;
        background-color: #e67e22;
        border-radius: 3px;
        color: #fff;
        font-weight: bold;
        border: 2px solid #e67e22;
        -webkit-appearance: button;
    }

    .btnintxt:hover {
        opacity: 0.85;
        cursor: pointer;
    }

    .blubtn {
        width: 100px;
        height: 36px;
        background-color: #52bad5;
        border-radius: 3px;
        color: #fff;
        font-weight: bold;
        border: 2px solid #52bad5;
    }

    .blubtn:hover {
        cursor: pointer;
        opacity: 0.85;
    }

    #already a:hover {
        color: #e98421;
    }
</style>
{% endblock %}

{% block content %}
<div id="content">
    <div style="margin-left:35px;">
        <h2 style="padding-top:25px;">Account Log In</h2><br />
        <form action="" method="post" name="form1">
            <table style="border:none;">
                <tr>
                    <td align="right" class="tbltxt">
                        <div><label for="uname">User Name</label><span class="red">*</span></div>
                    </td>
                    <td><input type="text" class="intext" name="uname" id="uname" required /></td>
                </tr>
                <tr>
                    <td align="right" class="tbltxt">
                        <div><label for="pass">Password</label><span class="red">*</span></div>
                    </td>
                    <td><input type="password" class="intext" name="pass" id="pass" required /></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><input class="btnintxt" type="submit" name="sub" id="sub" value="Log In" />
                        <div style="margin-top:15px;text-align:center;;font-size:13px;"><input type="checkbox" name="f"
                                id="f" value="yes" /><span style="vertical-align:top;"> <label for="f">Remember me next
                                    time</label></span></div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <div style="text-align:center;"><a href="#" id="fpu"
                                style="text-decoration:none;cursor:pointer;font-size:13px;">Forgot password
                                or username?</a></div>
                    </td>
                </tr>
            </table>
        </form>
        <br />
        <div style="display:none;" id="f_form">
            <div style="padding:5px;">Please enter the email address that you used in the registration.
            </div>
            <div style="padding:5px 0px 10px 0px;"><span style="font-size:13px;font-weight:bold;"><label
                        for="email">Email:</label> </span><input class="intext" type="text" name="email" id="email"
                    size="30" /> <input type="button" name="fbut" id="fbut" value="Send" class="blubtn" /><img alt=""
                    width="16" height="16" src="images/ajax-loader.gif" style="display:none;" id="fimg" /> <span
                    id="redm" style="color:#900;"></span>
                <div id="gm" style="color:#030;"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}