{% extends "base/mobile.html" %}

{% block head %}
<style>
    a,
    b,
    body,
    center,
    div,
    font,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    html,
    img,
    li,
    p,
    table,
    td,
    tr,
    u,
    ul,
    var {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: 0 0
    }

    ul {
        list-style: none
    }

    :focus {
        outline: 0
    }

    table {
        border-collapse: collapse;
        border-spacing: 0
    }

    body,
    html {
        height: 100%;
        width: 100%
    }

    body {
        font-family: 'Open Sans', sans-serif, Arial;
        background-color: #f5f5f5;
        line-height: 1;
        color: #636b75
    }

    h3 {
        padding: 5px 0;
        text-align: center
    }

    h3 a {
        font-size: 14px;
        text-align: center
    }

    h1 {
        text-align: center;
        color: #333;
        line-height: 1.2em
    }

    p {
        padding: 3px 0 2px 0
    }

    table td {
        padding: 5px;
        vertical-align: middle
    }

    .moret tr td {
        border-bottom: 1px solid #ddd;
        padding: 5px;
        line-height: normal;
        text-align: left;
        font-size: 13px;
        vertical-align: middle;
    }

    #main {
        text-align: center;
        height: 100%;
        width: 100%
    }

    #logo,
    #footer {
        background-color: #039BE6;
    }

    #logo img {
        display: block
    }

    #content {
        padding: 6px 0 0 0;
        background-color: #f5f5f5;
        clear: both;
    }

    #foot {
        margin: auto;
        padding: 15px 0;
        font-size: 10px
    }

    #foot a {
        color: #f1f1f1;
        text-decoration: none
    }

    #foot a:hover {
        text-decoration: underline
    }

    .more {
        text-align: center
    }

    .more a {
        color: #3e911b
    }

    .more a:hover {
        color: #030
    }

    .moreh {
        font-size: 13px;
        font-weight: 700
    }

    .moreph {
        font-size: 15px;
        color: #036;
        font-weight: 700
    }

    .moreph a {
        text-decoration: none;
        color: #3683dc;
    }

    .clear {
        clear: both
    }

    ul.share-buttons {
        list-style: none;
        padding: 0
    }

    ul.share-buttons li {
        display: inline;
        padding-right: 5px
    }

    .moret {
        width: 100%;
    }

    #sliderFrame {
        position: relative;
        margin: 0 auto;
        padding-top: 10px;
    }


    #thumbs {
        margin: 5px 0px;
        text-align: center;
        font-size: 0;
    }

    #thumbs .thumb {
        display: inline-block;
        margin: 0 1px;
        border: 1px solid #555;
        padding: 2px 3px;
    }

    #thumbs .thumb img {
        cursor: pointer;
        width: 44px;
        height: 33px;
    }

    .vml {
        text-decoration: none;
    }

    .bbtn {
        display: inline-block;
        border: 1px solid #f1f1f1;
        border-radius: 2px;
        padding: 4px;
        background-color: #3683dc;
        color: #fff;
        text-decoration: none;
        font-size: 12px;
    }

    .bbtn:hover {
        text-decoration: underline;
    }

    .boxl {
        position: relative;
        float: left;
    }

    .rpt {
        color: #B64926;
        text-decoration: none;
        font-size: 11px;
    }

    .fm {
        font-size: 12px;
        color: #3683dc;
        text-decoration: none;
    }

    .fm2 {
        display: inline-block;
        font-size: 14px;
        color: #3683dc;
        text-decoration: none;
        padding: 7px 1px;
        margin: 5px 0;
    }
</style>
<style>

.w3-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.w3-badge,.w3-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.w3-badge{border-radius:50%}
.w3-tooltip,.w3-display-container{position:relative}.w3-tooltip .w3-text{display:none}.w3-tooltip:hover .w3-text{display:inline-block}
.w3-dropdown-hover:hover > .w3-button:first-child,.w3-dropdown-click:hover > .w3-button:first-child{background-color:#ccc;color:#000}
.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{min-width:100%}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
@media (min-width:601px){.w3-col.m1{width:8.33333%}.w3-col.m2{width:16.66666%}.w3-col.m3,.w3-quarter{width:24.99999%}.w3-col.m4,.w3-third{width:33.33333%}
.w3-col.m5{width:41.66666%}.w3-col.m6,.w3-half{width:49.99999%}.w3-col.m7{width:58.33333%}.w3-col.m8,.w3-twothird{width:66.66666%}
.w3-col.m9,.w3-threequarter{width:74.99999%}.w3-col.m10{width:83.33333%}.w3-col.m11{width:91.66666%}.w3-col.m12{width:99.99999%}}
@media (min-width:993px){.w3-col.l1{width:8.33333%}.w3-col.l2{width:16.66666%}.w3-col.l3{width:24.99999%}.w3-col.l4{width:33.33333%}
.w3-content,.w3-auto{margin-left:auto;margin-right:auto}.w3-content{max-width:980px}.w3-auto{max-width:1140px}
@media (max-width:1205px){.w3-auto{max-width:95%}}
@media (max-width:600px){.w3-modal-content{margin:0 10px;width:auto!important}.w3-modal{padding-top:30px}
.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{width:100%}}
@media (max-width:768px){.w3-modal-content{width:500px}.w3-modal{padding-top:50px}}
@media (min-width:993px){.w3-modal-content{width:900px}.w3-hide-large{display:none!important}.w3-sidebar.w3-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.w3-hide-medium{display:none!important}}
@media (max-width:992px){.w3-sidebar.w3-collapse{display:none}.w3-main{margin-left:0!important;margin-right:0!important}.w3-auto{max-width:100%}}
.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
</style>
{% endblock %}

{% block content %}

<div id="content">
    <h1 style="font-size:14px;">{{ post_info.name }}</h1>
    <div id="sliderFrame">

        <div id="slider">
            <div class="w3-content w3-display-container">
                {% for image in imgs %}
                <img class="mySlides" src="{{ image }}" style="width:100%">
                {% endfor %}
                <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
            </div>
        </div>

        <div id="thumbs">
            {% for image in imgs %}
            <div class="thumb">
                <a title="{{ post_info.name }}" href="{{ image }}" rel="{{ image }}">
                    <img width="48" height="36" src="{{ image }}" alt="">
                </a>
            </div>
            {% endfor %}
        </div>

        <div style="clear:both;"></div>
    </div>

    <div class="clear"></div>

    <div id="topad"
        style="width:100%;min-height:250px;padding:8px 0px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;">
    </div>
    <table class="moret">
        <tbody>
            <tr>
                <td>
                    <p class="moreh">Contact</p>
                </td>
                <td>
                    <div style="padding-top:6px;" class="moreph boxl">
                        <a title="Call" href="tel:{{ user_info.phone }}">{{ user_info.phone }}</a>
                    </div>
                    <div style="position:relative;float:right;">
                        <img src="https://cdn.discordapp.com/attachments/980165687232319538/984133384374738974/unknown.png"
                            width="110" height="30" alt="" style="vertical-align:middle;">
                    </div>
                    <div class="clear"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="moreh"> Price</p>
                </td>
                <td>{{ post_info.price }}</td>
            </tr>

            <tr>
                <td>
                    <p class="moreh">Location</p>
                </td>
                <td>{{ user_info.city }}</td>
            </tr>
            {% if post_info.type == "car" %}
            <tr>
                <td>
                    <p class="moreh">YOM</p>
                </td>
                <td>{{ post_info.fields.yom }}</td>
            </tr>
            {% endif %}
            {% if post_info.type == "car" %}
            <tr>
                <td>
                    <p class="moreh">Mileage (km)</p>
                </td>
                <td>{{ post_info.fields.mileage }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>
                    <p class="moreh">Ad Date</p>
                </td>
                <td>{{ post_info.date }}</td>
            </tr>
            <tr>
                <td>
                    <p class="moreh">Name</p>
                </td>
                <td>{{ user_info.name }}</td>
            </tr>
            {% if (post_info.type == "car") or (post_info.type == "electronics") or (post_info.type == "parts") %}
            <tr>
                <td>
                    <p class="moreh">Make</p>
                </td>
                <td>{{ post_info.fields.make }}</td>
            </tr>
            {% endif %}
            {% if (post_info.type == "car") or (post_info.type == "electronics") or (post_info.type == "parts") %}
            <tr>
                <td>
                    <p class="moreh"> Model</p>
                </td>
                <td>{{ post_info.fields.model }}</td>
            </tr>
            {% endif %}
            {% if post_info.type == "car" %}
            <tr>
                <td>
                    <p class="moreh">Transmission </p>
                </td>
                <td>{{ post_info.fields.transmission }}</td>
            </tr>
            {% endif %}
            {% if post_info.type == "car" %}
            <tr>
                <td>
                    <p class="moreh">Fuel Type</p>
                </td>
                <td>{{ post_info.fields.fueltype }}</td>
            </tr>
            {% endif %}
            {% if post_info.type == "car" %}
            <tr>
                <td>
                    <p class="moreh">Engine (cc) </p>
                </td>
                <td>{{ post_info.fields.engine }}</td>
            </tr>
            {% endif %}
            {% if post_info.type == "land" %}
            <tr>
                <td>
                    <p class="moreh">Size</p>
                </td>
                <td>{{ post_info.fields.size }}</td>
            </tr>
            {% endif %}
            {% if post_info.type == "parts" %}
            <tr>
                <td>
                    <p class="moreh">For</p>
                </td>
                <td>{{ post_info.fields.whatfor }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>
                    <p class="moreh">Options</p>
                </td>
                <td>{{ post_info.fields.options }}</td>
            </tr>
            <tr>
                <td>
                    <p class="moreh">More Details</p>
                </td>
                <td>
                    {{ post_info.details }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        <div style="font-weight:bold;text-align:center;padding:3px;">Share this page</div>
                        <ul class="share-buttons" style="text-align:center;">
                            <center>
                                <li>
                                    <a rel="noopener"
                                        href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Friyasewana.com&amp;t="
                                        title="Share on Facebook" target="_blank"
                                        onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&amp;t=' + encodeURIComponent(document.URL)); return false;">
                                        <img src="//riyasewana.com/images/Facebook.png" width="30" height="30" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a rel="noopener"
                                        href="https://twitter.com/intent/tweet?source=http%3A%2F%2Friyasewana.com&amp;text=:%20http%3A%2F%2Friyasewana.com&amp;via=riyasewana"
                                        target="_blank" title="Tweet"
                                        onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;">
                                        <img src="//riyasewana.com/images/Twitter.png" width="30" height="30" alt="">
                                    </a>
                                </li>
                            </center>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="clear"></div>
</div>

{% endblock %}

{% block bottom %}
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>
{% endblock %}