{% extends "base/desktop.html" %}

{% block head %}
{% endblock %}

{% block content %}

<div id="mbody" style="width:1085px;">
    <div id="content" style="margin-left:25px;">
        <h2 class="results" style="text-align:left;margin-left:17px;">
            {{ pagination.info }}
        </h2>
        <div class="pagination">
            {{ pagination.links }}
            <div class="clear"></div>
        </div>

        <ul style="padding-left:17px;">

            {% for item in items %}
            <li class="item round">
                <h2 class="more">
                    <a title="{{ item.title }}" href="https://google.com">
                        {{ item.title }}
                    </a>
                </h2>
                <div class="imgbox">
                    <a title="{{ item.title }}" href="https://riyasewana.com/buy/mazda-familia-sale-matara-4637380">
                        <img src="{{ item.thumnail }}" alt="{{ item.title }}" width="100" height="75" loading="lazy" />
                    </a>
                </div>
                <div class="boxtext">
                    <div class="boxintxt">{{ item.location }}</div>
                    <div class="boxintxt b"> {{ item.price }}</div>
                    <div class="boxintxt"> {{ item.description }}</div>
                    <div class="boxintxt s">{{ item.date }}</div>
                </div>
                <div class="clear"></div>
            </li>
            {% endfor %}

        </ul>

        <div class="pagination">
            {{ pagination.links }}
            <div class="clear"></div>
        </div>
        <h2 class="results" style="text-align:left;margin-left:17px;">
            {{ pagination.info }}
        </h2>

    </div>
</div>

<div id="sidebar" style="width:340px;">
    <div id="sidead">
        <div style="padding:15px 0;min-height:250px;">
            <h3>
                gbcfdgfd
            </h3>
        </div>
    </div>
</div>
<div class="clear"></div>

{% endblock %}