<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vehicles for Sale in Sri Lanka - Largest Automobile Marketplace</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=5, width=device-width" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/phone.css') }}">

</head>

<body>
    <div id="main">
        <div id="logo">
            <div style="position:relative;float:left;text-align:left;padding:5px 0px 5px 5px;"><a
                    href="//riyasewana.com"><img src="{{ url_for('static', filename='images/others/logo-long.png') }}"
                        width="105" height="35" alt="Buy &amp; Sell Vehicles in Sri Lanka" /></a></div>
            <div style="position:relative;float:right;margin-top:10px;margin-right:5px;"><a
                    href="https://riyasewana.com/account.php"><img alt="Login"
                        src="https://riyasewana.com/images/login.png" width="24" height="24" /></a></div>
            <div style="position:relative;float:right;margin-top:9px;margin-right:10px;"><a class="bbtn"
                    style="background-image:linear-gradient(#ffc03b, #ff8d2c);background-color:#ff8d2c;border:0;height:12px;padding:8px;font-weight:bold;"
                    href="https://riyasewana.com/register.php">Post Free Ad</a></div>
            <div style="clear:both;"></div>
        </div>
        <div id="content">
            <div class="homebox" style="padding-bottom:4px;">
                <h1 style="font-size:14px;padding:0px 2px 4px 2px;line-height:1.3em;">Search Vehicles</h1>
                <div id="srhboxar" style="display:none;">

                    <form name="search_from" action="https://riyasewana.com/search.php" method="get">
                        <div class="sflt"><select name="vcat" class="htext round">
                                <option value="Any"> Any Condition </option>
                                <option value="antique">Antique</option>
                                <option value="brand-new">Brand New</option>
                                <option value="registered">Registered</option>
                                <option value="unregistered">Unregistered</option>
                            </select></div>
                        <div class="sflt"><select name="vtype" class="htext round">
                                <option value="Any"> Any Type </option>
                                <option value="cars">Car</option>
                                <option value="vans">Van</option>
                                <option value="suvs">SUV / Jeep</option>
                                <option value="motorcycles">Motorcycle</option>
                                <option value="crew-cabs">Crew Cab</option>
                                <option value="wagons">Wagon</option>
                                <option value="pickups">Pickup / Double Cab</option>
                                <option value="buses">Bus</option>
                                <option value="lorries">Lorry</option>
                                <option value="three-wheels">Three Wheel</option>
                                <option value="others">Other</option>
                                <option value="tractors">Tractor</option>
                                <option value="heavy-duties">Heavy-Duty</option>
                            </select></div>
                        <div style="clear:both;"></div>
                        <div class="sflt">
                            <select name="make" class="htext round">
                                <option value="Any"> Any Make </option>
                                <optgroup label="Most Popular Makes">
                                    <option value="Toyota">Toyota</option>
                                    <option value="Suzuki">Suzuki</option>
                                    <option value="Honda">Honda</option>
                                    <option value="Nissan">Nissan</option>
                                    <option value="Mitsubishi">Mitsubishi</option>
                                    <option value="Tata">Tata</option>
                                    <option value="Bajaj">Bajaj</option>
                                    <option value="TVS">TVS</option>
                                    <option value="Isuzu">Isuzu</option>
                                    <option value="Mahindra">Mahindra</option>
                                    <option value="Mazda">Mazda</option>
                                    <option value="Hero">Hero</option>
                                    <option value="Micro">Micro</option>
                                    <option value="Daihatsu">Daihatsu</option>
                                    <option value="Hyundai">Hyundai</option>
                                    <option value="Hero-Honda">Hero-Honda</option>
                                    <option value="DFSK">DFSK</option>
                                    <option value="Mercedes-Benz">Mercedes-Benz</option>
                                    <option value="Kia">Kia</option>
                                    <option value="Ford">Ford</option>
                                    <option value="Perodua">Perodua</option>
                                    <option value="Renault">Renault</option>
                                    <option value="Peugeot">Peugeot</option>
                                    <option value="BMW">BMW</option>
                                    <option value="Yamaha">Yamaha</option>
                                </optgroup>
                                <optgroup label="All Makes">
                                    <option value="Acura">Acura</option>
                                    <option value="Alfa-Romeo">Alfa-Romeo</option>
                                    <option value="Aprilia">Aprilia</option>
                                    <option value="Ashok-Leyland">Ashok-Leyland</option>
                                    <option value="Aston">Aston</option>
                                    <option value="Atco">Atco</option>
                                    <option value="Audi">Audi</option>
                                    <option value="Austin">Austin</option>
                                    <option value="Bajaj">Bajaj</option>
                                    <option value="Bentley">Bentley</option>
                                    <option value="BMW">BMW</option>
                                    <option value="Cadillac">Cadillac</option>
                                    <option value="Cal">Cal</option>
                                    <option value="CAT">CAT</option>
                                    <option value="Ceygra">Ceygra</option>
                                    <option value="Changan">Changan</option>
                                    <option value="Chery">Chery</option>
                                    <option value="Chevrolet">Chevrolet</option>
                                    <option value="Chrysler">Chrysler</option>
                                    <option value="Citroen">Citroen</option>
                                    <option value="Corvette">Corvette</option>
                                    <option value="Daewoo">Daewoo</option>
                                    <option value="Daido">Daido</option>
                                    <option value="Daihatsu">Daihatsu</option>
                                    <option value="Datsun">Datsun</option>
                                    <option value="Demak">Demak</option>
                                    <option value="Dfac">Dfac</option>
                                    <option value="DFSK">DFSK</option>
                                    <option value="Ducati">Ducati</option>
                                    <option value="Eicher">Eicher</option>
                                    <option value="FAW">FAW</option>
                                    <option value="Ferrari">Ferrari</option>
                                    <option value="Fiat">Fiat</option>
                                    <option value="Force">Force</option>
                                    <option value="Ford">Ford</option>
                                    <option value="Foton">Foton</option>
                                    <option value="Hero">Hero</option>
                                    <option value="Hero-Honda">Hero-Honda</option>
                                    <option value="Higer">Higer</option>
                                    <option value="Hillman">Hillman</option>
                                    <option value="HINO">HINO</option>
                                    <option value="Hitachi">Hitachi</option>
                                    <option value="Honda">Honda</option>
                                    <option value="Hummer">Hummer</option>
                                    <option value="Hyundai">Hyundai</option>
                                    <option value="IHI">IHI</option>
                                    <option value="Isuzu">Isuzu</option>
                                    <option value="Iveco">Iveco</option>
                                    <option value="JAC">JAC</option>
                                    <option value="Jaguar">Jaguar</option>
                                    <option value="JCB">JCB</option>
                                    <option value="Jeep">Jeep</option>
                                    <option value="JiaLing">JiaLing</option>
                                    <option value="JMC">JMC</option>
                                    <option value="John-Deere">John-Deere</option>
                                    <option value="Jonway">Jonway</option>
                                    <option value="KAPLA">KAPLA</option>
                                    <option value="Kawasaki">Kawasaki</option>
                                    <option value="Kia">Kia</option>
                                    <option value="Kinetic">Kinetic</option>
                                    <option value="KMC">KMC</option>
                                    <option value="Kobelco">Kobelco</option>
                                    <option value="Komatsu">Komatsu</option>
                                    <option value="KTM">KTM</option>
                                    <option value="Kubota">Kubota</option>
                                    <option value="Lamborghini">Lamborghini</option>
                                    <option value="Land-Rover">Land-Rover</option>
                                    <option value="Lexus">Lexus</option>
                                    <option value="Loncin">Loncin</option>
                                    <option value="Longjia">Longjia</option>
                                    <option value="Lotus">Lotus</option>
                                    <option value="Lti">Lti</option>
                                    <option value="Mahindra">Mahindra</option>
                                    <option value="Maserati">Maserati</option>
                                    <option value="Massey-Ferguson">Massey-Ferguson</option>
                                    <option value="Mazda">Mazda</option>
                                    <option value="Mercedes-Benz">Mercedes-Benz</option>
                                    <option value="Metrocab">Metrocab</option>
                                    <option value="MG">MG</option>
                                    <option value="Mg-Rover">Mg-Rover</option>
                                    <option value="Micro">Micro</option>
                                    <option value="Mini">Mini</option>
                                    <option value="Minnelli">Minnelli</option>
                                    <option value="Mitsubishi">Mitsubishi</option>
                                    <option value="Morgan">Morgan</option>
                                    <option value="Morris">Morris</option>
                                    <option value="New-Holland">New-Holland</option>
                                    <option value="Nissan">Nissan</option>
                                    <option value="Opel">Opel</option>
                                    <option value="Other">Other</option>
                                    <option value="Perodua">Perodua</option>
                                    <option value="Peugeot">Peugeot</option>
                                    <option value="Piaggio">Piaggio</option>
                                    <option value="Porsche">Porsche</option>
                                    <option value="Powertrac">Powertrac</option>
                                    <option value="Proton">Proton</option>
                                    <option value="Range-Rover">Range-Rover</option>
                                    <option value="Ranomoto">Ranomoto</option>
                                    <option value="Renault">Renault</option>
                                    <option value="Reva">Reva</option>
                                    <option value="Rolls-Royce">Rolls-Royce</option>
                                    <option value="Saab">Saab</option>
                                    <option value="Sakai">Sakai</option>
                                    <option value="Seat">Seat</option>
                                    <option value="Singer">Singer</option>
                                    <option value="Skoda">Skoda</option>
                                    <option value="Smart">Smart</option>
                                    <option value="Sonalika">Sonalika</option>
                                    <option value="Subaru">Subaru</option>
                                    <option value="Suzuki">Suzuki</option>
                                    <option value="Swaraj">Swaraj</option>
                                    <option value="Syuk">Syuk</option>
                                    <option value="TAFE">TAFE</option>
                                    <option value="Tata">Tata</option>
                                    <option value="Tesla">Tesla</option>
                                    <option value="Toyota">Toyota</option>
                                    <option value="Triumph">Triumph</option>
                                    <option value="TVS">TVS</option>
                                    <option value="Vauxhall">Vauxhall</option>
                                    <option value="Vespa">Vespa</option>
                                    <option value="Volkswagen">Volkswagen</option>
                                    <option value="Volvo">Volvo</option>
                                    <option value="Wave">Wave</option>
                                    <option value="Willys">Willys</option>
                                    <option value="Yamaha">Yamaha</option>
                                    <option value="Yanmar">Yanmar</option>
                                    <option value="Yuejin">Yuejin</option>
                                    <option value="Zongshen">Zongshen</option>
                                    <option value="Zotye">Zotye</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="sflt"><select name="city" id="city" class="htext round">
                                <option value="Any"> Any City </option>
                                <optgroup label="Colombo District">
                                    <option value="Colombo">Colombo</option>
                                    <option value="Dehiwala-Mount-Lavinia">Dehiwala-Mount-Lavinia</option>
                                    <option value="Moratuwa">Moratuwa</option>
                                    <option value="Kotte">Kotte</option>
                                    <option value="Battaramulla">Battaramulla</option>
                                    <option value="Maharagama">Maharagama</option>
                                    <option value="Kotikawatta">Kotikawatta</option>
                                    <option value="Kolonnawa">Kolonnawa</option>
                                    <option value="Keselwatta">Keselwatta</option>
                                    <option value="Homagama">Homagama</option>
                                    <option value="Mulleriyawa">Mulleriyawa</option>
                                    <option value="Kesbewa">Kesbewa</option>
                                    <option value="Avissawella">Avissawella</option>
                                    <option value="Kaduwela">Kaduwela</option>
                                    <option value="Boralesgamuwa">Boralesgamuwa</option>
                                    <option value="Piliyandala">Piliyandala</option>
                                    <option value="Nugegoda">Nugegoda</option>
                                    <option value="Nawala">Nawala</option>
                                    <option value="Padukka">Padukka</option>
                                    <option value="Kottawa">Kottawa</option>
                                    <option value="Pannipitiya">Pannipitiya</option>
                                    <option value="Malabe">Malabe</option>
                                    <option value="Hanwella">Hanwella</option>
                                </optgroup>
                                <optgroup label="Gampaha District">
                                    <option value="Gampaha">Gampaha</option>
                                    <option value="Negombo">Negombo</option>
                                    <option value="Katunayake">Katunayake</option>
                                    <option value="Hendala">Hendala</option>
                                    <option value="Welisara">Welisara</option>
                                    <option value="Ragama">Ragama</option>
                                    <option value="Kandana">Kandana</option>
                                    <option value="Ja-Ela">Ja-Ela</option>
                                    <option value="Wattala">Wattala</option>
                                    <option value="Kelaniya">Kelaniya</option>
                                    <option value="Peliyagoda">Peliyagoda</option>
                                    <option value="Minuwangoda">Minuwangoda</option>
                                    <option value="Kadawatha">Kadawatha</option>
                                    <option value="Dompe">Dompe</option>
                                    <option value="Divulapitiya">Divulapitiya</option>
                                    <option value="Nittambuwa">Nittambuwa</option>
                                    <option value="Mirigama">Mirigama</option>
                                    <option value="Kiribathgoda">Kiribathgoda</option>
                                    <option value="Veyangoda">Veyangoda</option>
                                    <option value="Ganemulla">Ganemulla</option>
                                </optgroup>
                                <optgroup label="Kandy District">
                                    <option value="Kandy">Kandy</option>
                                    <option value="Gampola">Gampola</option>
                                    <option value="Nawalapitiya">Nawalapitiya</option>
                                    <option value="Wattegama">Wattegama</option>
                                    <option value="Harispattuwa">Harispattuwa</option>
                                    <option value="Kadugannawa">Kadugannawa</option>
                                </optgroup>
                                <optgroup label="Kurunegala District">
                                    <option value="Kurunegala">Kurunegala</option>
                                    <option value="Kuliyapitiya">Kuliyapitiya</option>
                                    <option value="Polgahawela">Polgahawela</option>
                                </optgroup>
                                <optgroup label="Ratnapura District">
                                    <option value="Ratnapura">Ratnapura</option>
                                    <option value="Balangoda">Balangoda</option>
                                    <option value="Eheliyagoda">Eheliyagoda</option>
                                    <option value="Kalawana">Kalawana</option>
                                    <option value="Embilipitiya">Embilipitiya</option>
                                </optgroup>
                                <optgroup label="Kalutara District">
                                    <option value="Kalutara">Kalutara</option>
                                    <option value="Beruwala">Beruwala</option>
                                    <option value="Panadura">Panadura</option>
                                    <option value="Horana">Horana</option>
                                    <option value="Matugama">Matugama</option>
                                    <option value="Bandaragama">Bandaragama</option>
                                </optgroup>
                                <optgroup label="Puttalam District">
                                    <option value="Puttalam">Puttalam</option>
                                    <option value="Chilaw">Chilaw</option>
                                    <option value="Nattandiya">Nattandiya</option>
                                    <option value="Wennappuwa">Wennappuwa</option>
                                    <option value="Marawila">Marawila</option>
                                </optgroup>
                                <optgroup label="Kegalle District">
                                    <option value="Kegalle">Kegalle</option>
                                    <option value="Mawanella">Mawanella</option>
                                    <option value="Warakapola">Warakapola</option>
                                </optgroup>
                                <optgroup label="Matale District">
                                    <option value="Matale">Matale</option>
                                    <option value="Dambulla">Dambulla</option>
                                    <option value="Sigiriya">Sigiriya</option>
                                </optgroup>
                                <optgroup label="Badulla District">
                                    <option value="Badulla">Badulla</option>
                                    <option value="Bandarawela">Bandarawela</option>
                                    <option value="Haputale">Haputale</option>
                                    <option value="Welimada">Welimada</option>
                                    <option value="Mahiyanganaya">Mahiyanganaya</option>
                                </optgroup>
                                <optgroup label="Nuwara-Eliya District">
                                    <option value="Nuwara-Eliya">Nuwara-Eliya</option>
                                    <option value="Hatton">Hatton</option>
                                    <option value="Talawakele">Talawakele</option>
                                </optgroup>
                                <optgroup label="Galle District">
                                    <option value="Galle">Galle</option>
                                    <option value="Ambalangoda">Ambalangoda</option>
                                </optgroup>
                                <optgroup label="Matara District">
                                    <option value="Matara">Matara</option>
                                    <option value="Weligama">Weligama</option>
                                </optgroup>
                                <optgroup label="Hambantota District">
                                    <option value="Hambantota">Hambantota</option>
                                    <option value="Tangalle">Tangalle</option>
                                </optgroup>
                                <optgroup label="Batticaloa District">
                                    <option value="Batticaloa">Batticaloa</option>
                                    <option value="Kattankudy">Kattankudy</option>
                                    <option value="Eravur">Eravur</option>
                                </optgroup>
                                <optgroup label="Ampara District">
                                    <option value="Ampara">Ampara</option>
                                    <option value="Kalmunai">Kalmunai</option>
                                </optgroup>
                                <optgroup label="Jaffna District">
                                    <option value="Jaffna">Jaffna</option>
                                    <option value="Chavakacheri">Chavakacheri</option>
                                    <option value="Valvettithurai">Valvettithurai</option>
                                </optgroup>
                                <optgroup label="Anuradapura District">
                                    <option value="Anuradapura">Anuradapura</option>
                                </optgroup>
                                <optgroup label="Polonnaruwa District">
                                    <option value="Polonnaruwa">Polonnaruwa</option>
                                </optgroup>
                                <optgroup label="Moneragala District">
                                    <option value="Moneragala">Moneragala</option>
                                </optgroup>
                                <optgroup label="Trincomalee District">
                                    <option value="Trincomalee">Trincomalee</option>
                                </optgroup>
                                <optgroup label="Mannar District">
                                    <option value="Mannar">Mannar</option>
                                </optgroup>
                                <optgroup label="Vavuniya District">
                                    <option value="Vavuniya">Vavuniya</option>
                                </optgroup>
                                <optgroup label="Kilinochchi District">
                                    <option value="Kilinochchi">Kilinochchi</option>
                                </optgroup>
                                <optgroup label="Mullaitivu District">
                                    <option value="Mullaitivu">Mullaitivu</option>
                                </optgroup>
                            </select></div>
                        <div style="clear:both;"></div>
                        <div class="sflt"><select name="fuel" id="fuel" class="htext round">
                                <option value="Any"> Any Fuel </option>
                                <option value="petrol">Petrol</option>
                                <option value="diesel">Diesel</option>
                                <option value="electric">Electric</option>
                                <option value="hybrid">Hybrid</option>
                                <option value="gas">Gas</option>
                            </select></div>
                        <div class="sflt"><select name="trans" id="trans" class="htext round">
                                <option value="Any"> Any Gear </option>
                                <option value="Automatic">Auto</option>
                                <option value="Manual">Manual</option>
                            </select></div>
                        <div style="clear:both;"></div>
                        <div class="sflt"><select name="year" id="year" class="htext round">
                                <option value=""> Year Min </option>
                                <option value="2022">2022</option>
                                <option value="2021">2021</option>
                                <option value="2020">2020</option>
                                <option value="2019">2019</option>
                                <option value="2018">2018</option>
                                <option value="2017">2017</option>
                                <option value="2016">2016</option>
                                <option value="2015">2015</option>
                                <option value="2014">2014</option>
                                <option value="2013">2013</option>
                                <option value="2012">2012</option>
                                <option value="2011">2011</option>
                                <option value="2010">2010</option>
                                <option value="2009">2009</option>
                                <option value="2008">2008</option>
                                <option value="2007">2007</option>
                                <option value="2006">2006</option>
                                <option value="2005">2005</option>
                                <option value="2004">2004</option>
                                <option value="2003">2003</option>
                                <option value="2002">2002</option>
                                <option value="2001">2001</option>
                                <option value="2000">2000</option>
                                <option value="1999">1999</option>
                                <option value="1998">1998</option>
                                <option value="1997">1997</option>
                                <option value="1996">1996</option>
                                <option value="1995">1995</option>
                                <option value="1994">1994</option>
                                <option value="1993">1993</option>
                                <option value="1992">1992</option>
                                <option value="1991">1991</option>
                                <option value="1990">1990</option>
                                <option value="1989">1989</option>
                                <option value="1988">1988</option>
                                <option value="1987">1987</option>
                                <option value="1986">1986</option>
                                <option value="1985">1985</option>
                                <option value="1984">1984</option>
                                <option value="1983">1983</option>
                                <option value="1982">1982</option>
                                <option value="1981">1981</option>
                                <option value="1980">1980</option>
                                <option value="old"> &lt; 1979 </option>
                            </select></div>
                        <div class="sflt"><select name="year_max" id="year_max" class="htext round">
                                <option value=""> Year Max </option>
                                <option value="2022">2022</option>
                                <option value="2021">2021</option>
                                <option value="2020">2020</option>
                                <option value="2019">2019</option>
                                <option value="2018">2018</option>
                                <option value="2017">2017</option>
                                <option value="2016">2016</option>
                                <option value="2015">2015</option>
                                <option value="2014">2014</option>
                                <option value="2013">2013</option>
                                <option value="2012">2012</option>
                                <option value="2011">2011</option>
                                <option value="2010">2010</option>
                                <option value="2009">2009</option>
                                <option value="2008">2008</option>
                                <option value="2007">2007</option>
                                <option value="2006">2006</option>
                                <option value="2005">2005</option>
                                <option value="2004">2004</option>
                                <option value="2003">2003</option>
                                <option value="2002">2002</option>
                                <option value="2001">2001</option>
                                <option value="2000">2000</option>
                                <option value="1999">1999</option>
                                <option value="1998">1998</option>
                                <option value="1997">1997</option>
                                <option value="1996">1996</option>
                                <option value="1995">1995</option>
                                <option value="1994">1994</option>
                                <option value="1993">1993</option>
                                <option value="1992">1992</option>
                                <option value="1991">1991</option>
                                <option value="1990">1990</option>
                                <option value="1989">1989</option>
                                <option value="1988">1988</option>
                                <option value="1987">1987</option>
                                <option value="1986">1986</option>
                                <option value="1985">1985</option>
                                <option value="1984">1984</option>
                                <option value="1983">1983</option>
                                <option value="1982">1982</option>
                                <option value="1981">1981</option>
                                <option value="1980">1980</option>
                                <option value="old"> &lt; 1979 </option>
                            </select></div>
                        <div class="sflt"><input class="htext round" type="number" name="pricemmin"
                                placeholder="Min Price " min="0" value="" style="width:90%;padding:3px 5px;" /></div>
                        <div class="sflt"><input class="htext round" type="number" name="pricemmax"
                                placeholder="Max Price " min="0" value="" style="width:90%;padding:3px 5px;" /></div>
                        <div style="clear:both;"></div>
                        <div class="sflt"><input type="text" style="width:90%;padding:2px 5px;height:25px;" name="model"
                                id="model" class="htext round" value="" placeholder="Model" /></div>
                        <div class="sflt"><input
                                style="background-color:#039BE6;width:90%;border-color:#039BE6;font-weight:bold;height:26px;"
                                type="submit" class="bbtn" name="srch_btn" id="srch_btn" value="Search" /></div>
                        <div style="clear:both;"></div>
                    </form>

                </div>
            </div>
            <div style="padding:0px 10px 2px 10px;">
                <div style="position:relative;float:left;font-size:13px;padding-top:4px;">&nbsp;48093 Results</div>
                <div id="sfilters" style="position:relative;float:right;"><input type="button" class="bbtn round"
                        onclick="myshow();"
                        style="background-color:#00b159;width:100px;padding:3px;font-weight:bold;border-color:#00b159;"
                        value="Search Filters" /></div>
                <div class="clear"></div>
            </div>
            <div class="pagination"> <a class="current">1</a> <a href="//riyasewana.com/search?page=2">2</a> <a
                    href="//riyasewana.com/search?page=3">3</a> <a href="//riyasewana.com/search?page=4">4</a> <a
                    href="//riyasewana.com/search?page=5">5</a> <a href="//riyasewana.com/search?page=2">Next</a> <a
                    href="//riyasewana.com">Home</a>
                <div class="clear"></div>
            </div>
            <ul>
                <li>
                    <div class="item">
                        <h2 class="more"><a title="Bajaj Bajaj 4storke 2011 Three Wheel"
                                href="https://riyasewana.com/buy/bajaj-bajaj-4storke-sale-kuliyapitiya-4637446">Bajaj
                                Bajaj 4storke 2011 Three Wheel</a></h2>
                        <div class="imgbox"><a title="Bajaj Bajaj 4storke 2011 Three Wheel"
                                href="https://riyasewana.com/buy/bajaj-bajaj-4storke-sale-kuliyapitiya-4637446"><img
                                    src="//riyasewana.com/thumb/thumbbajaj-bajaj-4storke-2011-2823034112151.jpg"
                                    alt="Bajaj Bajaj 4storke 2011 Three Wheel" width="100" height="75"
                                    importance="high" />
                                <div class="clear"></div>
                            </a></div>
                        <div class="boxtext">
                            <div class="boxintxt"> Kuliyapitiya</div>
                            <div class="boxintxt b"> Rs. 1,035,000</div>
                            <div class="boxintxt"> 15525 (km)</div>
                            <div class="boxintxt s"> 2022-05-28</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <h2 class="more"><a title="Peugeot 3008 2011 SUV"
                                href="https://riyasewana.com/buy/peugeot-3008-sale-nittambuwa-4637445">Peugeot 3008 2011
                                SUV</a></h2>
                        <div class="imgbox"><a title="Peugeot 3008 2011 SUV"
                                href="https://riyasewana.com/buy/peugeot-3008-sale-nittambuwa-4637445"><img
                                    src="//riyasewana.com/thumb/thumbpeugeot-3008-2011-2823033912621.jpg"
                                    alt="Peugeot 3008 2011 SUV" width="100" height="75" importance="high" />
                                <div class="clear"></div>
                            </a></div>
                        <div class="boxtext">
                            <div class="boxintxt"> Nittambuwa</div>
                            <div class="boxintxt b"> Negotiable</div>
                            <div class="boxintxt"> 132000 (km)</div>
                            <div class="boxintxt s"> 2022-05-28</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
            <div class="pagination"> <a class="current">1</a> <a href="//riyasewana.com/search?page=2">2</a> <a
                    href="//riyasewana.com/search?page=3">3</a> <a href="//riyasewana.com/search?page=4">4</a> <a
                    href="//riyasewana.com/search?page=5">5</a> <a href="//riyasewana.com/search?page=2">Next</a> <a
                    href="//riyasewana.com">Home</a>
                <div class="clear"></div>
            </div>
            <div style="text-align:center;padding:10px;">
                <h2 style="font-size:14px;color:#333;">Latest Vehicle Review Video</h2><iframe width="320" height="188"
                    src="https://www.youtube.com/embed/DF4xnwsZgtw" title="Latest Vehicle Review Video" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div style="padding-bottom:5px;">
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3142824530179326"
                    data-ad-slot="8901638596" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        <div class="clear"></div>
        <div id="footer">
            <div id="foot">
                <div style="padding-bottom:20px;"><a href="//riyasewana.com">Home</a> &nbsp;&nbsp;&nbsp;&nbsp; <a
                        href="https://riyasewana.com/account.php">Sell Vehicles</a> &nbsp;&nbsp;&nbsp;&nbsp; <a
                        href="https://riyasewana.com/contact.php">Contact Us</a></div>
                <div style="padding-bottom:15px;"><a href="//riyasewana.com/terms.php">Terms</a>
                    &nbsp;&nbsp;&nbsp;&nbsp; <a href="//riyasewana.com/privacy.php">Privacy</a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://riyasewana.com/contribute.php">Contribute</a> &nbsp;&nbsp;&nbsp;&nbsp; <a
                        title="Vehicle Leasing" href="https://riyasewana.com/leasing-offers.php">Leasing Offers</a>
                </div>
                <div style="padding-bottom:5px;">
                    <ul class="share-buttons" style="list-style:none;padding:0;display:inline;">
                        <li><a rel="noopener" href="https://www.youtube.com/c/RiyasewanaCom" title="Youtube Channel"
                                target="_blank"><img alt="Youtube Channel"
                                    src="//riyasewana.com/images/icons/youtube-light.svg" width="32" height="32" /></a>
                        </li>
                        <li><a rel="noopener" href="https://www.facebook.com/riyasewana" title="Facebook"
                                target="_blank"><img alt="" src="//riyasewana.com/images/icons/facebook-light.svg"
                                    width="32" height="32" /></a></li>
                        <li><a rel="noopener" href="https://www.instagram.com/riyasewanacom/"
                                title="Riyasewana Instagram" target="_blank"><img alt=""
                                    src="//riyasewana.com/images/icons/instagram-light.svg" width="32"
                                    height="32" /></a></li>
                        <li><a rel="noopener" href="https://www.facebook.com/groups/riyasewana.lk"
                                title="Facebook Group" target="_blank"><img alt=""
                                    src="//riyasewana.com/images/icons/group-light.svg" width="32" height="32" /></a>
                        </li>
                        <li><a rel="noopener" href="https://www.linkedin.com/company/riyasewana"
                                title="Riyasewana Linkedin" target="_blank"><img alt=""
                                    src="//riyasewana.com/images/icons/linkedin-light.svg" width="32" height="32" /></a>
                        </li>
                        <li><a rel="noopener" href="https://twitter.com/riyasewana" target="_blank" title="Tweet"><img
                                    alt="" src="//riyasewana.com/images/icons/twitter-light.svg" width="32"
                                    height="32" /></a></li>
                    </ul>
                </div>
                <div style="padding:5px 0;"><a rel="noopener"
                        href="https://play.google.com/store/apps/details?id=com.riyasewana.android.riyasewana"
                        target="_blank" title="Riyasewana Android App Available on Google Play"><img
                            alt="Available on Google Play" src="//riyasewana.com/images/a-google-play.png" width="100"
                            height="30" /></a></div>
                <div style="padding:5px 0;"><a rel="noopener"
                        href="https://apps.apple.com/us/app/riyasewana/id1583270163?itsct=apps_box_badge&amp;itscg=30200"
                        target="_blank" title="Download Riyasewana iOS App on the App Store"><img
                            alt="Download on the App Store" src="//riyasewana.com/images/app-store.png" width="100"
                            height="33" /></a></div>
                <div style="padding-bottom:5px;">Copyright &copy; Riyasewana Lanka (Pvt) Ltd.</div>
            </div>
        </div>
    </div>

    <script>
        function myshow() {
            document.getElementById("srhboxar").style.display = "block";
            document.getElementById("sfilters").style.display = "none";
        }
    </script>

</body>

</html>