{% extends "base/mobile.html" %}

{% block head %}
<style>
    .red {
        color: darkred;
    }

    .wan {
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        padding-bottom: 7px;
        color: #1d5c84;
    }

    .mocls a {
        color: #3683dc;
        text-decoration: none;
    }

    .tx {
        font-size: 13px;
        font-weight: bold;
        padding-bottom: 10px;
    }

    .intext {
        width: 220px;
        height: 27px;
        border: 2px solid #a6a6a6;
        border-radius: 3px;
        font-size: 13px;
        padding: 0px 5px;
        background-color: #fff;
    }

    .intext:focus {
        border: 2px solid #3db2d0;
    }

    table td {
        padding: 5px 5px 12px 5px;
    }

    td strong {
        font-size: 13px;
    }

    .btnintxt {
        width: 234px;
        height: 34px;
        background-color: #e67e22;
        border-radius: 3px;
        color: #fff;
        font-weight: bold;
        border: 2px solid #e67e22;
        -webkit-appearance: button;
    }

    h4 {
        font-size: 14px;
    }

    .chstyl {
        position: relative;
        float: left;
        margin: 0px 10px 10px 0px;
    }

    .gifcss {
        vertical-align: middle;
        display: none;
        padding-top: 5px;
    }
</style>
{% endblock %}

{% block content %}
<div id="content">
    <div id="acctop" style="color:#036;text-decoration:none;text-align:center;">

        <div style="width:275px;margin:auto;">
            <div style="padding-bottom:5px;font-size:13px;">Welcome
                <b>
                    {{g.user.username}}
                </b>
            </div>
            <div style="font-size:13px;font-weight:bold;line-height:1.3;" class="mocls">
                <a href="{{ url_for('profile') }}">My Ads</a>
                |
                <a href="{{ url_for('profile_edit') }}">Edit Profile</a>
                |
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>

    </div>
    <h2 style="font-size:14px;padding:20px 0px 10px 0px;">Add Your Post</h2>
    <div style="font-size:11px;padding-bottom:20px;">Items marked with <span class="red">*</span> are required. </div>

    <a href="{{ url_for('new_post_process', mode=post_type) }}">
        <h1>Testing 123</h1>
    </a>

    <form action="{{ url_for('new_post_process', mode=post_type) }}" method="post" name="form1" id="form1"
        enctype="multipart/form-data">
        <table style="width:275px;margin:auto;">
            <tbody>
                <!-- --------------------------- -->

                <!-- Title -->
                <tr>
                    <td align="left">
                        {% if post_type == 'car' %}
                        <h4 style="color:#333;">Vehicle Info</h4>
                        {% elif post_type == 'land' %}
                        <h4 style="color:#333;">Land Info</h4>
                        {% elif post_type == 'electronics' %}
                        <h4 style="color:#333;">Electronics Info</h4>
                        {% elif post_type == 'parts' %}
                        <h4 style="color:#333;">Parts Info</h4>
                        {% endif %}
                    </td>
                </tr>


                <!-- Name -->
                <tr>
                    <td align="left">
                        <div class="tx">
                            Name <span class="red">*</span>
                        </div>
                        <input type="text" class="intext" name="PostName" id="PostName" value="" required="">
                    </td>
                </tr>

                <!-- Price (Rs.) -->
                <tr>
                    <td align="left">
                        <div class="tx">Price (Rs.)</div>
                        <input type="number" class="intext" name="ProductPrice" id="ProductPrice" value="">

                        <div style="padding:5px 0;">
                            <input title="" type="checkbox" id="lease" name="lease" value="1">
                            {% if post_type == 'car' %}
                            <span title="Check if the vehicle has an ongoing leasing">Ongoing Lease</span>
                            {% else %}
                            <span title="Check if the product has an ongoing loan">Ongoing Loan</span>
                            {% endif %}
                        </div>

                    </td>
                </tr>

                <!-- --------------------------- -->

                {% if post_type == 'car' %}

                <!-- Vehicle Type -->
                <tr>
                    <td align="left">
                        <div class="tx">
                            Vehicle Type<span class="red">*</span>
                        </div>
                        <select name="VehicleType" id="VehicleType" class="intext" style="width:234px;height:31px;" required="">
                            <option value="">Select Type</option>
                            <option value="Car">Car</option>
                            <option value="Van">Van</option>
                            <option value="SUV">SUV / Jeep</option>
                            <option value="Crew Cab">Crew Cab</option>
                            <option value="Pickup">Pickup / Double Cab</option>
                            <option value="Bus">Bus</option>
                            <option value="Lorry">Lorry / Tipper</option>
                            <option value="Three Wheel">Three Wheel</option>
                            <option value="Tractor">Tractor</option>
                            <option value="Heavy-Duty">Heavy-Duty</option>
                            <option value="motorcycle">Motorcycle</option>
                            <option value="Other">Other</option>
                        </select>
                    </td>
                </tr>

                <!-- Vehicle Condition -->
                <tr>
                    <td align="left">
                        <div class="tx">
                            Vehicle Condition<span class="red">*</span>
                        </div>
                        <select name="VehicleCondition" id="VehicleCondition" class="intext" style="width:234px;height:31px;" required="">
                            <option value="">Select Condition</option>
                            <option value="Antique">Antique</option>
                            <option value="Brand New">Brand New</option>
                            <option value="Registered (Used)">Registered (Used)</option>
                            <option value="Unregistered (Recondition)">Unregistered (Recondition)</option>
                        </select>
                    </td>
                </tr>

                <!-- Vehicle Make -->
                <tr>
                    <td align="left">
                        <div class="tx">
                            Vehicle Make<span class="red">*</span>
                        </div>
                        <select name="VehicleMake" id="VehicleMake" class="intext" style="width:234px;height:31px;" required="">
                            <option value="">Select Make</option>
                            <option value="Acura">Acura</option>
                            <option value="Alfa-Romeo">Alfa-Romeo</option>
                            <option value="Aprilia">Aprilia</option>
                            <option value="Ashok-Leyland">Ashok-Leyland</option>
                            <option value="Aston">Aston</option>
                            <option value="Atco">Atco</option>
                            <option value="Audi">Audi</option>
                            <option value="Austin">Austin</option>
                            <option value="Bajaj">Bajaj</option>
                            <option value="Bentley">Bentley</option>
                            <option value="BMW">BMW</option>
                            <option value="Cadillac">Cadillac</option>
                            <option value="Cal">Cal</option>
                            <option value="CAT">CAT</option>
                            <option value="Ceygra">Ceygra</option>
                            <option value="Changan">Changan</option>
                            <option value="Chery">Chery</option>
                            <option value="Chevrolet">Chevrolet</option>
                            <option value="Chrysler">Chrysler</option>
                            <option value="Citroen">Citroen</option>
                            <option value="Corvette">Corvette</option>
                            <option value="Daewoo">Daewoo</option>
                            <option value="Daido">Daido</option>
                            <option value="Daihatsu">Daihatsu</option>
                            <option value="Datsun">Datsun</option>
                            <option value="Demak">Demak</option>
                            <option value="Dfac">Dfac</option>
                            <option value="DFSK">DFSK</option>
                            <option value="Ducati">Ducati</option>
                            <option value="Eicher">Eicher</option>
                            <option value="FAW">FAW</option>
                            <option value="Ferrari">Ferrari</option>
                            <option value="Fiat">Fiat</option>
                            <option value="Force">Force</option>
                            <option value="Ford">Ford</option>
                            <option value="Foton">Foton</option>
                            <option value="Hero">Hero</option>
                            <option value="Hero-Honda">Hero-Honda</option>
                            <option value="Higer">Higer</option>
                            <option value="Hillman">Hillman</option>
                            <option value="HINO">HINO</option>
                            <option value="Hitachi">Hitachi</option>
                            <option value="Honda">Honda</option>
                            <option value="Hummer">Hummer</option>
                            <option value="Hyundai">Hyundai</option>
                            <option value="IHI">IHI</option>
                            <option value="Isuzu">Isuzu</option>
                            <option value="Iveco">Iveco</option>
                            <option value="JAC">JAC</option>
                            <option value="Jaguar">Jaguar</option>
                            <option value="JCB">JCB</option>
                            <option value="Jeep">Jeep</option>
                            <option value="JiaLing">JiaLing</option>
                            <option value="JMC">JMC</option>
                            <option value="John-Deere">John-Deere</option>
                            <option value="Jonway">Jonway</option>
                            <option value="KAPLA">KAPLA</option>
                            <option value="Kawasaki">Kawasaki</option>
                            <option value="Kia">Kia</option>
                            <option value="Kinetic">Kinetic</option>
                            <option value="KMC">KMC</option>
                            <option value="Kobelco">Kobelco</option>
                            <option value="Komatsu">Komatsu</option>
                            <option value="KTM">KTM</option>
                            <option value="Kubota">Kubota</option>
                            <option value="Lamborghini">Lamborghini</option>
                            <option value="Land-Rover">Land-Rover</option>
                            <option value="Lexus">Lexus</option>
                            <option value="Loncin">Loncin</option>
                            <option value="Longjia">Longjia</option>
                            <option value="Lotus">Lotus</option>
                            <option value="Lti">Lti</option>
                            <option value="Mahindra">Mahindra</option>
                            <option value="Maserati">Maserati</option>
                            <option value="Massey-Ferguson">Massey-Ferguson</option>
                            <option value="Mazda">Mazda</option>
                            <option value="Mercedes-Benz">Mercedes-Benz</option>
                            <option value="Metrocab">Metrocab</option>
                            <option value="MG">MG</option>
                            <option value="Mg-Rover">Mg-Rover</option>
                            <option value="Micro">Micro</option>
                            <option value="Mini">Mini</option>
                            <option value="Minnelli">Minnelli</option>
                            <option value="Mitsubishi">Mitsubishi</option>
                            <option value="Morgan">Morgan</option>
                            <option value="Morris">Morris</option>
                            <option value="New-Holland">New-Holland</option>
                            <option value="Nissan">Nissan</option>
                            <option value="Opel">Opel</option>
                            <option value="Other">Other</option>
                            <option value="Perodua">Perodua</option>
                            <option value="Peugeot">Peugeot</option>
                            <option value="Piaggio">Piaggio</option>
                            <option value="Porsche">Porsche</option>
                            <option value="Powertrac">Powertrac</option>
                            <option value="Proton">Proton</option>
                            <option value="Range-Rover">Range-Rover</option>
                            <option value="Ranomoto">Ranomoto</option>
                            <option value="Renault">Renault</option>
                            <option value="Reva">Reva</option>
                            <option value="Rolls-Royce">Rolls-Royce</option>
                            <option value="Saab">Saab</option>
                            <option value="Sakai">Sakai</option>
                            <option value="Seat">Seat</option>
                            <option value="Singer">Singer</option>
                            <option value="Skoda">Skoda</option>
                            <option value="Smart">Smart</option>
                            <option value="Sonalika">Sonalika</option>
                            <option value="Subaru">Subaru</option>
                            <option value="Suzuki">Suzuki</option>
                            <option value="Swaraj">Swaraj</option>
                            <option value="Syuk">Syuk</option>
                            <option value="TAFE">TAFE</option>
                            <option value="Tata">Tata</option>
                            <option value="Tesla">Tesla</option>
                            <option value="Toyota">Toyota</option>
                            <option value="Triumph">Triumph</option>
                            <option value="TVS">TVS</option>
                            <option value="Vauxhall">Vauxhall</option>
                            <option value="Vespa">Vespa</option>
                            <option value="Volkswagen">Volkswagen</option>
                            <option value="Volvo">Volvo</option>
                            <option value="Wave">Wave</option>
                            <option value="Willys">Willys</option>
                            <option value="Yamaha">Yamaha</option>
                            <option value="Yanmar">Yanmar</option>
                            <option value="Yuejin">Yuejin</option>
                            <option value="Zongshen">Zongshen</option>
                            <option value="Zotye">Zotye</option>
                        </select>
                    </td>
                </tr>

                <!-- Vehicle Model -->
                <tr>
                    <td align="left">
                        <div class="tx">
                            Model<span class="red">*</span>
                        </div>
                        <input type="text" class="intext" name="VehicleModel" id="VehicleModel" value="" maxlength="100" required="">
                    </td>
                </tr>

                <!-- YOM -->
                <tr>
                    <td align="left">
                        <div class="tx">
                            Manufactured Year<span class="red">*</span>
                        </div>
                        <select name="yom" id="yom" class="intext" style="width:234px;height:31px;" required="">
                            <option value="">Manufactured Year</option>
                            <option value="2022">2022</option>
                            <option value="2021">2021</option>
                            <option value="2020">2020</option>
                            <option value="2019">2019</option>
                            <option value="2018">2018</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                            <option value="2012">2012</option>
                            <option value="2011">2011</option>
                            <option value="2010">2010</option>
                            <option value="2009">2009</option>
                            <option value="2008">2008</option>
                            <option value="2007">2007</option>
                            <option value="2006">2006</option>
                            <option value="2005">2005</option>
                            <option value="2004">2004</option>
                            <option value="2003">2003</option>
                            <option value="2002">2002</option>
                            <option value="2001">2001</option>
                            <option value="2000">2000</option>
                            <option value="1999">1999</option>
                            <option value="1998">1998</option>
                            <option value="1997">1997</option>
                            <option value="1996">1996</option>
                            <option value="1995">1995</option>
                            <option value="1994">1994</option>
                            <option value="1993">1993</option>
                            <option value="1992">1992</option>
                            <option value="1991">1991</option>
                            <option value="1990">1990</option>
                            <option value="1989">1989</option>
                            <option value="1988">1988</option>
                            <option value="1987">1987</option>
                            <option value="1986">1986</option>
                            <option value="1985">1985</option>
                            <option value="1984">1984</option>
                            <option value="1983">1983</option>
                            <option value="1982">1982</option>
                            <option value="1981">1981</option>
                            <option value="1980">1980</option>
                            <option value="1979">1979</option>
                            <option value="1978">1978</option>
                            <option value="1977">1977</option>
                            <option value="1976">1976</option>
                            <option value="1975">1975</option>
                            <option value="1974">1974</option>
                            <option value="1973">1973</option>
                            <option value="1972">1972</option>
                            <option value="1971">1971</option>
                            <option value="1970">1970</option>
                            <option value="1969">1969</option>
                            <option value="1968">1968</option>
                            <option value="1967">1967</option>
                            <option value="1966">1966</option>
                            <option value="1965">1965</option>
                            <option value="1964">1964</option>
                            <option value="1963">1963</option>
                            <option value="1962">1962</option>
                            <option value="1961">1961</option>
                            <option value="1960">1960</option>
                            <option value="1959">1959</option>
                            <option value="1958">1958</option>
                            <option value="1957">1957</option>
                            <option value="1956">1956</option>
                            <option value="1955">1955</option>
                            <option value="1954">1954</option>
                            <option value="1953">1953</option>
                            <option value="1952">1952</option>
                            <option value="1951">1951</option>
                            <option value="1950">1950</option>
                            <option value="1949">1949</option>
                            <option value="1948">1948</option>
                            <option value="1900">Before 1948</option>
                        </select>
                    </td>
                </tr>

                <!-- Transmission -->
                <tr>
                    <td align="left">
                        <div class="tx">
                            Transmission<span class="red">*</span>
                        </div>
                        <select name="VehicleTransmission" id="VehicleTransmission" class="intext" style="width:234px;height:31px;"
                            required="">
                            <option value="">Select Transmission</option>
                            <option value="Automatic">Automatic</option>
                            <option value="Manual">Manual</option>
                        </select>
                    </td>
                </tr>

                <!-- Fuel Type -->
                <tr>
                    <td align="left">
                        <div class="tx">
                            Fuel Type<span class="red">*</span>
                        </div>
                        <select name="VehicleFuel" id="VehicleFuel" class="intext" style="width:234px;height:31px;" required="">
                            <option value="">Select Fuel Type</option>
                            <option value="Diesel">Diesel</option>
                            <option value="Petrol">Petrol</option>
                            <option value="Electric">Electric</option>
                            <option value="Hybrid">Hybrid</option>
                            <option value="Gas">Gas</option>
                        </select>
                    </td>
                </tr>

                <!-- Engine Capacity -->
                <tr>
                    <td align="left">
                        <div class="tx">Engine Capacity</div>
                        <input type="text" class="intext" name="VehicleEngineCapacity" id="VehicleEngineCapacity" value="">
                    </td>
                </tr>

                <!-- Mileage (km) -->
                <tr>
                    <td align="left">
                        <div class="tx">
                            Mileage (km)<span class="red">*</span>
                        </div>
                        <input type="number" class="intext" name="VehicleMileage" id="VehicleMileage" value="" required="">
                    </td>
                </tr>

                <!-- Options -->
                <tr>
                    <td align="left">
                        <div class="tx">Options</div>
                        <div style="font-size:12px;">
                            <div class="chstyl">
                                <input style="vertical-align:middle;" type="checkbox" name="options[]"
                                    value="AIR CONDITION">
                                <span style="vertical-align:middle;">
                                    Air Condition
                                </span>
                            </div>
                            <div class="chstyl">
                                <input style="vertical-align:middle;" type="checkbox" name="options[]"
                                    value="POWER STEERING">
                                <span style="vertical-align:middle;">
                                    Power Steering
                                </span>
                            </div>
                            <div class="clear"></div>
                            <div class="chstyl">
                                <input style="vertical-align:middle;" type="checkbox" name="options[]"
                                    value="POWER MIRROR">
                                <span style="vertical-align:middle;">
                                    Power Mirror
                                </span>
                            </div>
                            <div class="chstyl">
                                <input style="vertical-align:middle;" type="checkbox" name="options[]"
                                    value="POWER WINDOW">
                                <span style="vertical-align:middle;">
                                    Power Window
                                </span>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </td>
                </tr>

                {% endif %}

                {% if post_type == 'land' %}

                <!-- Property Type -->
                <tr>
                    <td align="left">
                        <div class="tx">
                            Property Type<span class="red">*</span>
                        </div>
                        <select name="PropertyType" id="vtype" class="intext" style="width:234px;height:31px;" required="">
                            <option value="">Select Type</option>
                            <option value="Building">Building</option>
                            <option value="House">House</option>
                            <option value="Land">Land</option>
                        </select>
                    </td>
                </tr>

                <!-- Purchase Type -->
                <tr>
                    <td align="left">
                        <div class="tx">
                            Purchase Type<span class="red">*</span>
                        </div>
                        <select name="PurchaseType" id="vtype" class="intext" style="width:234px;height:31px;" required="">
                            <option value="">Select Type</option>
                            <option value="Buy">Buy</option>
                            <option value="Rent">Rent</option>
                        </select>
                    </td>
                </tr>

                <!-- Size -->
                <tr>
                    <td align="left">
                        <div class="tx">Size</div>
                        <input type="text" class="intext" name="Size" id="size" value="">
                    </td>
                </tr>

                <!-- Options -->
                <tr>
                    <td align="left">
                        <div class="tx">Options</div>
                        <div style="font-size:12px;">
                            <div class="chstyl">
                                <input style="vertical-align:middle;" type="checkbox" name="options[]"
                                    value="Electrcity">
                                <span style="vertical-align:middle;">
                                    Electrcity
                                </span>
                            </div>
                            <div class="chstyl">
                                <input style="vertical-align:middle;" type="checkbox" name="options[]" value="Water">
                                <span style="vertical-align:middle;">
                                    Water
                                </span>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </td>
                </tr>

                {% endif %}

                {% if post_type == 'electronics' %}

                <!-- Make -->
                <tr>
                    <td align="left">
                        <div class="tx">
                            Make<span class="red">*</span>
                        </div>
                        <input type="text" class="intext" name="Make" id="model" value="" maxlength="100" required="">
                    </td>
                </tr>

                <!-- Model -->
                <tr>
                    <td align="left">
                        <div class="tx">
                            Model<span class="red">*</span>
                        </div>
                        <input type="text" class="intext" name="Model" id="model" value="" maxlength="100" required="">
                    </td>
                </tr>

                <!-- YOM -->
                <tr>
                    <td align="left">
                        <div class="tx">
                            Manufactured Year<span class="red">*</span>
                        </div>
                        <select name="yom" id="year" class="intext" style="width:234px;height:31px;" required="">
                            <option value="">Manufactured Year</option>
                            <option value="2022">2022</option>
                            <option value="2021">2021</option>
                            <option value="2020">2020</option>
                            <option value="2019">2019</option>
                            <option value="2018">2018</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                            <option value="2012">2012</option>
                            <option value="2011">2011</option>
                            <option value="2010">2010</option>
                            <option value="2009">2009</option>
                            <option value="2008">2008</option>
                            <option value="2007">2007</option>
                            <option value="2006">2006</option>
                            <option value="2005">2005</option>
                            <option value="2004">2004</option>
                            <option value="2003">2003</option>
                            <option value="2002">2002</option>
                            <option value="2001">2001</option>
                            <option value="2000">2000</option>
                            <option value="1999">1999</option>
                            <option value="1998">1998</option>
                            <option value="1997">1997</option>
                            <option value="1996">1996</option>
                            <option value="1995">1995</option>
                            <option value="1994">1994</option>
                            <option value="1993">1993</option>
                            <option value="1992">1992</option>
                            <option value="1991">1991</option>
                            <option value="1990">1990</option>
                            <option value="1989">1989</option>
                            <option value="1988">1988</option>
                            <option value="1987">1987</option>
                            <option value="1986">1986</option>
                            <option value="1985">1985</option>
                            <option value="1984">1984</option>
                            <option value="1983">1983</option>
                            <option value="1982">1982</option>
                            <option value="1981">1981</option>
                            <option value="1980">1980</option>
                            <option value="1979">1979</option>
                            <option value="1978">1978</option>
                            <option value="1977">1977</option>
                            <option value="1976">1976</option>
                            <option value="1975">1975</option>
                            <option value="1974">1974</option>
                            <option value="1973">1973</option>
                            <option value="1972">1972</option>
                            <option value="1971">1971</option>
                            <option value="1970">1970</option>
                            <option value="1969">1969</option>
                            <option value="1968">1968</option>
                            <option value="1967">1967</option>
                            <option value="1966">1966</option>
                            <option value="1965">1965</option>
                            <option value="1964">1964</option>
                            <option value="1963">1963</option>
                            <option value="1962">1962</option>
                            <option value="1961">1961</option>
                            <option value="1960">1960</option>
                            <option value="1959">1959</option>
                            <option value="1958">1958</option>
                            <option value="1957">1957</option>
                            <option value="1956">1956</option>
                            <option value="1955">1955</option>
                            <option value="1954">1954</option>
                            <option value="1953">1953</option>
                            <option value="1952">1952</option>
                            <option value="1951">1951</option>
                            <option value="1950">1950</option>
                            <option value="1949">1949</option>
                            <option value="1948">1948</option>
                            <option value="1900">Before 1948</option>
                        </select>
                    </td>
                </tr>

                <!-- Power Requirement -->
                <tr>
                    <td align="left">
                        <div class="tx">
                            Power Requirement<span class="red">*</span>
                        </div>
                        <select name="PowerRequirement" id="year" class="intext" style="width:234px;height:31px;" required="">
                            <option value="">Power Requirement</option>
                            <option value="AC">AC</option>
                            <option value="DC">DC</option>
                            <option value="BO">Both</option>
                            <option value="NS">Not Sure</option>
                        </select>
                    </td>
                </tr>

                {% endif %}

                {% if post_type == 'parts' %}

                <!-- Make -->
                <tr>
                    <td align="left">
                        <div class="tx">
                            Make<span class="red">*</span>
                        </div>
                        <input type="text" class="intext" name="Make" id="model" value="" maxlength="100" required="">
                    </td>
                </tr>

                <!-- Model -->
                <tr>
                    <td align="left">
                        <div class="tx">
                            Model<span class="red">*</span>
                        </div>
                        <input type="text" class="intext" name="Model" id="model" value="" maxlength="100" required="">
                    </td>
                </tr>

                <!-- YOM -->
                <tr>
                    <td align="left">
                        <div class="tx">
                            Manufactured Year<span class="red">*</span>
                        </div>
                        <select name="yom" id="year" class="intext" style="width:234px;height:31px;" required="">
                            <option value="">Manufactured Year</option>
                            <option value="2022">2022</option>
                            <option value="2021">2021</option>
                            <option value="2020">2020</option>
                            <option value="2019">2019</option>
                            <option value="2018">2018</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                            <option value="2012">2012</option>
                            <option value="2011">2011</option>
                            <option value="2010">2010</option>
                            <option value="2009">2009</option>
                            <option value="2008">2008</option>
                            <option value="2007">2007</option>
                            <option value="2006">2006</option>
                            <option value="2005">2005</option>
                            <option value="2004">2004</option>
                            <option value="2003">2003</option>
                            <option value="2002">2002</option>
                            <option value="2001">2001</option>
                            <option value="2000">2000</option>
                            <option value="1999">1999</option>
                            <option value="1998">1998</option>
                            <option value="1997">1997</option>
                            <option value="1996">1996</option>
                            <option value="1995">1995</option>
                            <option value="1994">1994</option>
                            <option value="1993">1993</option>
                            <option value="1992">1992</option>
                            <option value="1991">1991</option>
                            <option value="1990">1990</option>
                            <option value="1989">1989</option>
                            <option value="1988">1988</option>
                            <option value="1987">1987</option>
                            <option value="1986">1986</option>
                            <option value="1985">1985</option>
                            <option value="1984">1984</option>
                            <option value="1983">1983</option>
                            <option value="1982">1982</option>
                            <option value="1981">1981</option>
                            <option value="1980">1980</option>
                            <option value="1979">1979</option>
                            <option value="1978">1978</option>
                            <option value="1977">1977</option>
                            <option value="1976">1976</option>
                            <option value="1975">1975</option>
                            <option value="1974">1974</option>
                            <option value="1973">1973</option>
                            <option value="1972">1972</option>
                            <option value="1971">1971</option>
                            <option value="1970">1970</option>
                            <option value="1969">1969</option>
                            <option value="1968">1968</option>
                            <option value="1967">1967</option>
                            <option value="1966">1966</option>
                            <option value="1965">1965</option>
                            <option value="1964">1964</option>
                            <option value="1963">1963</option>
                            <option value="1962">1962</option>
                            <option value="1961">1961</option>
                            <option value="1960">1960</option>
                            <option value="1959">1959</option>
                            <option value="1958">1958</option>
                            <option value="1957">1957</option>
                            <option value="1956">1956</option>
                            <option value="1955">1955</option>
                            <option value="1954">1954</option>
                            <option value="1953">1953</option>
                            <option value="1952">1952</option>
                            <option value="1951">1951</option>
                            <option value="1950">1950</option>
                            <option value="1949">1949</option>
                            <option value="1948">1948</option>
                            <option value="1900">Before 1948</option>
                        </select>
                    </td>
                </tr>

                <!-- Made For -->
                <tr>
                    <td align="left">
                        <div class="tx">
                            Made for<span class="red">*</span>
                        </div>
                        <input type="text" class="intext" name="WhatFor" id="model" value="" maxlength="100" required="">
                    </td>
                </tr>

                <!-- Size -->
                <tr>
                    <td align="left">
                        <div class="tx">
                            Size<span class="red">*</span>
                        </div>
                        <input type="text" class="intext" name="Size" id="model" value="" maxlength="100" required="">
                    </td>
                </tr>

                {% endif %}

                <tr>
                    <td align="left">
                        <div class="tx">Additional Info (Markdown)</div>
                        <!-- <textarea name="more" id="more" rows="5" class="intext" style="height:100px;"></textarea> -->
                        <textarea id="ProductDescription" class="text" cols="86" rows ="20" name="ProductDescription" style="height: 120px; width: 85%;"></textarea>
                    </td>
                </tr>

            </tbody>
        </table>

        <table style="width:275px;margin:auto;">
            <tbody>
                <tr>
                    <td align="center">
                        <div style="font-size:12px;">If upload is taking too long, please add the product without an image.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <div class="tx">Main Image</div>
                        <input type="file" name="up1h" id="up1h" accept="image/*">
                        <span class="up_style" id="1_res" style="display:none;">
                        </span>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <div class="tx">Image 2</div>
                        <input type="file" name="up2h" id="up2h" accept="image/*">
                        <span class="up_style" id="2_res" style="display:none;">
                        </span>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <div class="tx">Image 3</div>
                        <input type="file" name="up3h" id="up3h" accept="image/*">
                        <span class="up_style" id="3_res" style="display:none;">
                        </span>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <div class="tx">Image 4</div>
                        <input type="file" name="up4h" id="up4h" accept="image/*">
                        <span class="up_style" id="4_res" style="display:none;">
                        </span>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <div class="tx">Image 5</div>
                        <input type="file" name="up5h" id="up5h" accept="image/*">
                        <span class="up_style" id="5_res" style="display:none;">
                        </span>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <br>
                        <input class="btnintxt" type="button" name="sub" id="sub" value="Add Product" onclick="this.form.submit()">
                        <div class="noScript" style="padding-top: 5px; display: none;">
                            Your browser does not support JavaScript! Please use the Chromium
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <br>

</div>
{% endblock %}

{% block bottom %}
{% endblock %}