{% extends "base/mobile.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mobile-login.css') }}" />
<style>
    .tx {
        font-size: 13px;
        font-weight: bold;
        padding-bottom: 10px;
    }

    .red {
        color: darkred;
    }

    .intext {
        width: 220px;
        height: 27px;
        border: 1px solid #ced4da;
        border-radius: 3px;
        font-size: 13px;
        padding: 0px 5px;
        color: #495057;
    }

    .intext:focus {
        border: 1px solid #3db2d0;
    }

    table td {
        padding: 5px 5px 12px 5px;
    }

    td strong {
        font-size: 13px;
    }

    .btnintxt {
        width: 234px;
        height: 34px;
        background-color: #3683dc;
        border-radius: 3px;
        color: #fff;
        font-weight: bold;
        border: 1px solid #3683dc;
        -webkit-appearance: button;
    }

    .blubtn {
        width: 75px;
        height: 31px;
        background-color: #52bad5;
        border-radius: 3px;
        color: #fff;
        font-weight: bold;
        border: 2px solid #52bad5;
    }

    .blubtn:hover {
        cursor: pointer;
        opacity: 0.85;
    }
</style>
<link rel="shortcut icon" href="favicon.ico" />
<title>Login to Your RiyaSewana.com Account</title>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#fpu").click(function () {
            $("#f_form").show();
        });
        $("#fbut").click(function () {
            if ($('#email').val() != '') {
                var postdata = $('#email').val();
                $('#fimg').show();
                $.ajax({
                    type: 'post',
                    url: 'forgot.php',
                    data: { ename: postdata },
                    success: function (data) {
                        $('#fimg').hide();
                        if (data == 'done') { $('#redm').html(''); $('#gm').html('Password reset link has been mailed to your email address.'); }
                        else { $('#redm').html(data); $('#gm').html(''); }
                    }
                });
            }
            else {
                $('#redm').html('Please enter email'); $('#gm').html('');
            }
        });
    });
</script>
{% endblock %}

{% block content %}
</head>

<div id="content">
    <h2 style="font-size:16px;padding-top:15px;">Log in</h2><br />
    <form action="" method="post" name="form1">
        <table style="width:250px;margin:auto;">
            <tr>
                <td align="left">
                    <div class="tx">
                        <label for="username">
                            Username
                        </label>
                    </div>
                    <input type="text" class="intext" name="username" id="username" required />
                </td>
            </tr>
            <tr>
                <td align="left">
                    <div class="tx">
                        <label for="password">
                            Password
                        </label>
                    </div>
                    <input type="password" class="intext" name="password" id="password" required />
                </td>
            </tr>
            <tr>
                <td align="left"><input type="submit" name="sub" id="sub" value="Login" class="btnintxt" /></td>
            </tr>
            <tr>
                <td align="center">
                    <a href="#" id="fpu" style="text-decoration:none;cursor:pointer;font-size:12px;color:#3683dc;">
                        Forgot password or username?
                    </a>
                </td>
            </tr>
        </table>
    </form>
    <div style="display:none;" id="f_form">
        <div style="padding:5px;font-size:13px;">
            Please enter the email address that you used in the registration.
        </div>
        <div style="padding:5px;font-size:13px;font-weight:bold;">
            <label for="email">Email:</label>
            <input style="width:150px;" class="intext" type="email" name="email" id="email" size="20" required />
            <input type="button" name="fbut" id="fbut" value="Send" class="blubtn" />
            <img src="images/ajax-loader.gif" style="display:none;" id="fimg" alt="" width="16" height="16" />
            <br />
            <span id="redm" style="color:#900;"></span>
            <span id="gm" style="color:#030;"></span>
        </div>
    </div>
    <div id="already">Need a new Account?<br />
        <a href="register.php" title="Register">Register</a>
    </div>
    <br>
    <br>
</div>
<div class="clear"></div>

</html>
{% endblock %}